<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Daml Enterprise Downloads</title>
    <link rel="stylesheet" href="/_static/css/theme.css">
  </head>
  <body>
    <h1>Daml Enterprise Downloads</h1>
    <ul>
    <% for (v of versions) { %>
      <li><a href="./<%= v.version %>.html">Version <%= v.version %></a></li>
    <% }%>
    </ul>
  </body>
</html>
