use nix

PATH_add bin

pyenv=.python-env

if ! [ -d $pyenv ]; then
    python3 -m venv $pyenv
fi

source $pyenv/bin/activate
PATH_add $pyenv/bin

python -m pip install -r requirements.txt
python -m pip install sphinx_external_toc-0.3.1-py3-none-any.whl

[[ -f .envrc.private ]] && source_env .envrc.private

watch_file requirements.txt
