[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
sphinx-autobuild = "*"
sphinx-copybutton = "==0.2.12"
sphinx = "==4.3.1"
jinja2 = ">=2.11.3"
urllib3 = ">=1.26.5"
sphinx-external-toc = "*"

[requires]
python_version = "3.9"
